.titre {
    text-align: center;
    font-size: 3em;
}

#form {
    margin: 0 auto;
    max-width: 75em;
    margin-left: 35%;
}

#buttonConIns {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
}

#Redirect {
    margin: 0 auto;
    max-width: 50em;
    text-align: center;
}

body {
  border-width:5px;
   border-style:double;
   border-color:#26a69a;
}
